junk.scala
/*.png
/resources
metals.sbt
practice.scala
/release
/*.fecc
# scala-cli, bloop, metals
.bsp/
.bloop/
.metals/
.scala-build/
project/metals.sbt
# sbt
project/project/
project/target/
target/
# vs code
.vscode/
# mac
.DS_Store